################################################################################################
# KERNEL Enabling Gentoo-specific options
# CONFIG_GENTOO_LINUX
# CONFIG_GENTOO_LINUX_UDEV
# CONFIG_GENTOO_LINUX_PORTAGE
# CONFIG_GENTOO_LINUX_INIT_SCRIPT
# 
Gentoo Linux --->
  Generic Driver Options --->
    [*] Gentoo Linux support
    [*]   Linux dynamic and persistent device naming (userspace devfs) support
    [*]   Select options required by Portage features
        Support for init systems, system and service managers  --->
          [*] OpenRC, runit and other script based systems and managers
          [ ] systemd
          
################################################################################################
# 
# KERNEL Enabling devtmpfs support
# CONFIG_DEVTMPFS
# CONFIG_DEVTMPFS_MOUNT
# 
Device Drivers --->
  Generic Driver Options --->
    [*] Maintain a devtmpfs filesystem to mount at /dev
    [*]   Automount devtmpfs at /dev, after the kernel mounted the rootfs
    
################################################################################################
# 
# KERNEL Enabling SCSI disk support
# CONFIG_BLK_DEV_SD
Device Drivers --->
   SCSI device support  --->
      <*> SCSI disk support

################################################################################################
# Azalia Card (AMD soundcard)
# CONFIG_SND_HDA_INTEL plus all CONFIG_SND_HDA_CODEC_* entries.

################################################################################################
# AMD Ryzen Zen3 

Processor type and features  --->
  [*] Symmetric multi-processing support
  [*] Support x2apic
  [*] AMD ACPI2Platform devices support
  Processor family (Opteron/Athlon64/Hammer/K8)  --->
    (X) Opteron/Athlon64/Hammer/K8
  [*] Supported processor vendors  --->
    [*]   Support AMD processors (NEW)
  [*] SMT (Hyperthreading) scheduler support
  [*] Multi-core scheduler support
  [*] Machine Check / overheating reporting
  [*]   AMD MCE features
  Performance monitoring  --->
    <*> AMD Processor Power Reporting Mechanism
  [*]   AMD microcode loading support
Power management and ACPI options  --->
  CPU Frequency scaling  --->
      Default CPUFreq governor (ondemand)  --->
    <*>   ACPI Processor P-States driver
    [ /*]     Legacy cpb sysfs knob support for AMD CPUs
    < >   AMD Opteron/Athlon64 PowerNow!
    <*>   AMD frequency sensitivity feedback powersave bias
Device Drivers  --->
  Generic Driver Options --->
    (amd-ucode/microcode_amd_fam17h.bin) External firmware blobs to build into the kernel binary
    (/lib/firmware) Firware blobs root directory
  [*] IOMMU Hardware Support  --->
    [*]   AMD IOMMU support
    <*>     AMD IOMMU Version 2 driver
  [*] Hardware Monitoring support --->
    <*>   AMD Family 10h+ temperature sensor
    <*>   AMD Family 15h processor power
For Zen 3 (or newer) APUs (e.g. in notebooks or Chromebooks), add additionally:

# KERNEL Kernel 5.11 or newer
Device Drivers  --->
  [*] X86 Platform Specific Device Drivers  --->
    <*>   AMD SoC PMC driver

# KERNEL Enable AMD microcode loading support
Processor type and features  --->
    [*] CPU microcode loading support
    [ ]   Intel microcode loading support
    [*]   AMD microcode loading support


# run to identify gamily cpu
grep -F -m 1 "cpu family" /proc/cpuinfo
# check source below and confirm blob file required
# https://wiki.gentoo.org/wiki/AMD_microcode


# KERNEL Single AMD firmware blob
Device Drivers  --->
    Generic Driver Options 
        Firmware loader --->
        {*} Firmware loading facility
        (amd-ucode/microcode_amd_fam16h.bin) External firmware blobs to build into the kernel binary
        (/lib/firmware) Firmware blobs root directory

################################################################################################
# 
# KERNEL Selecting necessary file systems
# CONFIG_EXT2_FS
# CONFIG_EXT3_FS
# CONFIG_EXT4_FS
# CONFIG_MSDOS_FS
# CONFIG_VFAT_FS
# CONFIG_PROC_FS 
# CONFIG_TMPFS
# CONFIG_AUTOFS_FS

KERNEL Selecting necessary file systems
File systems --->
  <*> Second extended fs support
  <*> The Extended 3 (ext3) filesystem
  <*> The Extended 4 (ext4) filesystem
  <*> Reiserfs support
  <*> JFS filesystem support
  <*> XFS filesystem support
  <*> Btrfs filesystem support
  DOS/FAT/NT Filesystems  --->
    <*> MSDOS fs support
    <*> VFAT (Windows-95) fs support
 
  Pseudo Filesystems --->
    [*] /proc file system support
    [*] Tmpfs virtual memory file system support (former shm fs)
    
# SquashFS
# SQUASHFS
# SQUASHFS_EMBEDDED
# SQUASHFS_XATTR
# SQUASHFS_XZ
# SQUASHFS_ZLIB
# SQUASHFS_ZSTD
File systems  --->
   [*] Miscellaneous filesystems  --->
      [*]   SquashFS 4.0 - Squashed file system support
File systems  --->
   [*] Miscellaneous filesystems  --->
         File decompression options (Decompress file data into an intermediate buffer)  --->
         Decompressor parallelisation options (Single threaded compression)  --->
      [*]     Squashfs XATTR support
      [*]     Include support for ZLIB compressed file systems
      [*]     Include support for LZ4 compressed file systems
      [*]     Include support for LZO compressed file systems
      [*]     Include support for XZ compressed file systems
      [*]     Use 4K device block size?
      [*]     Additional option for memory-constrained systems
      (3)       Number of fragments cached
    
################################################################################################

# KERNEL Activating SMP support
# CONFIG_SMP
# 
Processor type and features  --->
  [*] Symmetric multi-processing support

################################################################################################

# KERNEL Activating USB support for input devices
# CONFIG_HID_GENERIC CONFIG_USB_HID
# CONFIG_USB_SUPPORT, CONFIG_USB_XHCI_HCD, 
# CONFIG_USB_EHCI_HCD, CONFIG_USB_OHCI_HCD
Device Drivers --->
  HID support  --->
    -*- HID bus support
    <*>   Generic HID driver
    [*]   Battery level reporting for HID devices
      USB HID support  --->
        <*> USB HID transport layer
  [*] USB support  --->
    <*>     xHCI HCD (USB 3.0) support
    <*>     EHCI HCD (USB 2.0) support
    <*>     OHCI HCD (USB 1.1) support

# Device Drivers --->
#   [*] HID Devices  --->
#     <*>   USB Human Interface Device (full HID) support    

################################################################################################
# Synaptics pinpad and keyboard
# KERNEL CONFIG_MOUSE_SYNAPTICS_I2C
# KERNEL CONFIG_MOUSE_SYNAPTICS_USB
# CONFIG_KEYBOARD_ATKBD
Device Drivers  --->
    Input device support  --->
        <*>   Event interface
        [*]   Mice  --->
              <*>   PS/2 mouse
          <*>   Synaptics I2C Touchpad support
          <*>   Synaptics USB Touchpad support
        -*-   Keyboards  --->
              <*>   AT keyboard



################################################################################################
# 
# KERNEL Selecting processor types and features
# CONFIG_IA32_EMULATION

Executable file formats / Emulations  --->
   [*] IA32 Emulation
   
###################################################################################################   
# 
# KERNEL Enable support for GPT
# CONFIG_PARTITION_ADVANCED CONFIG_EFI_PARTITION

-*- Enable the block layer --->
   Partition Types --->
      [*] Advanced partition selection
      [*] EFI GUID Partition support   

###################################################################################################   
# 
# KERNEL Enable support for UEFI
# CONFIG_EFI, CONFIG_EFI_STUB, CONFIG_EFI_MIXED, and CONFIG_EFI_VARS

Processor type and features  --->
    [*] EFI runtime service support 
    [*]   EFI stub support
    [*]     EFI mixed-mode support
 
Firmware Drivers  --->
    EFI (Extensible Firmware Interface) Support  --->
        <*> EFI Variable Support via sysfs
        
###################################################################################################   
# 
# KERNEL
# CONFIG_ACPI_AC
Power management and ACPI options  --->
    [*] Power Management support
        [*] ACPI (Advanced Configuration and Power Interface) Support  --->

###################################################################################################   
#         
# KERNEL Enabling CPU power management options
# select all options under including 'Intel P state control'
# CONFIG_ACPI_CPPC_CPUFREQ
Power management and ACPI options  --->
     [*] ACPI (Advanced Configuration and Power Interface) Support  --->
         <*>   Processor
     CPU Frequency scaling  --->
         -*- CPU Frequency scaling
             [*]   CPU frequency transition statistics
             Default CPUFreq governor (ondemand)  --->
                 Select a default governor; see below table
                 Default is ondemand
             *** CPU frequency scaling drivers ***
                 Select a driver; see below table
                 
###################################################################################################   
#
# KERNEL
# CONFIG_ETHERNET
# CONFIG_NET_VENDOR_REALTEK
# CONFIG_R8169
Device Drivers  --->
    Networking support  --->
        [*] Network device support --->
            [*]   Ethernet driver support  --->

###################################################################################################   

# KERNEL Enable CONFIG_TUN in the kernel
# CONFIG_TUN
Device Drivers  --->
    [*] Network device support  --->
        [*] Network core driver support
        <*>   Universal TUN/TAP device driver support
        
###################################################################################################   
#
# KERNEL
# CONFIG_SND_PCI
# CONFIG_SND_HDA_CODEC
# CONFIG_SND_USB_AUDIO

Device Drivers --->
    <*> Sound card support
        <*> Advanced Linux Sound Architecture --->
            [*] PCI sound devices  --->
                Select the driver for your audio controller.
                HD-Audio  --->
                   Select a codec or enable all and let the generic parse choose the right one:
                   [*] Build Realtek HD-audio codec support
                   [*] ...
                   [*] Build Silicon Labs 3054 HD-modem codec support
                   [*] Enable generic HD-audio codec parser
            [*] USB sound devices  --->
                Must have as some cards are presented as USB devices.
                [*] USB Audio/MIDI driver
General setup --->
    [*] System V IPC
    
###################################################################################################   
# Intel wireless: set MVM option
# KERNEL
# CONFIG_IWLWIFI
# CONFIG_WLAN_VENDOR_INTEL
# CONFIG_IWLMVM
# 

Device Drivers  --->
[*] Network device support  --->
  --- Network device support
    [*]   Wireless LAN  --->
        --- Wireless LAN
        [ ]   mac80211-based legacy WDS support
        [ ]   ADMtek devices
        [ ]   Atheros/Qualcomm devices
        [ ]   Atmel devices
        [ ]   Broadcom devices
        [ ]   Cisco devices
        [*]   Intel devices
        < >     Intel PRO/Wireless 2100 Network Connection
        < >     Intel PRO/Wireless 2200BG and 2915ABG Network Connection
        < >     Intel Wireless WiFi 4965AGN (iwl4965)
        < >     Intel PRO/Wireless 3945ABG/BG Network Connection (iwl3945)
        <M>     Intel Wireless WiFi Next Gen AGN - Wireless-N/Advanced-N/Ultimate-N (iwlwifi)
        < >       Intel Wireless WiFi DVM Firmware support
        <M>       Intel Wireless WiFi MVM Firmware support
                    Debugging Options  --->
        [ ]   Intersil devices
        [ ]   Marvell devices
        [ ]   MediaTek devices
        [ ]   Ralink devices
        [ ]   Realtek devices
        [ ]   Redpine Signals Inc devices
        [ ]   STMicroelectronics devices
        [ ]   Texas Instrument devices
        [ ]   ZyDAS devices
        [ ]   Quantenna wireless cards support
        < >   Simulated radio testing tool for mac80211
        < >   Wireless RNDIS USB support
            
            
########################################################################################################
# KERNEL
# NetworkManager
# CONFIG_PACKET
# CONFIG_CFG80211_WEXT
[*] Networking support  --->
      Networking options  --->
        <*> Packet socket
  [*] Wireless  --->
        <*>   cfg80211 - wireless configuration API
        [*]     cfg80211 wireless extensions compatibility
            
            
########################################################################################################

# Kernel
# CONFIG_MMC_REALTEK_PCI

└─> Device Drivers
└─> MMC/SD/SDIO card support
└─> Realtek PCI-E SD/MMC Card Interface Driver

########################################################################################################
# 
# KERNEL
# CONFIG_PCIEPORTBUS
# CONFIG_HOTPLUG_PCI
# CONFIG_HOTPLUG_PCI_ACPI
KERNEL PCI Hotplugging
Device Drivers  --->
    [*] PCI support  --->
        [*] PCI Express Port Bus support
        [*]   PCI Express Hotplug driver
        [*] Support for PCI Hotplug  --->
            [*] ACPI PCI Hotplug driver
            
########################################################################################################
# 
# KERNEL Enabling INPUT_PCSPKR
Device Drivers -->
   Input device support -->
      Miscellaneous devices -->
         <*> PC Speaker support

########################################################################################################
# intel video
# KERNEL Build firmware blobs into the kernel binary
# see for library name
# https://wiki.gentoo.org/wiki/Intel#Feature_support
# EXTRA_FIRMWARE
# EXTRA_FIRMWARE_DIR
Device Drivers  --->
    Generic Driver Options  --->
            Firmware loader  --->
                -*- Firmware loading facility
                (i915/skl_dmc_ver1_27.bin) Build named firmware blobs into the kernel binary
                (/lib/firmware) Firmware blobs root directory

# CONFIG_CONFIG_DRM_I915
Device Drivers  --->
    Graphics support  --->
        <*> /dev/agpgart (AGP Support)  --->
            --- /dev/agpgart (AGP Support)
            -*-   Intel 440LX/BX/GX, I8xx and E7x05 chipset support
        <*> Direct Rendering Manager (XFree86 4.1.0 and higher DRI support)  --->
            --- Direct Rendering Manager (XFree86 4.1.0 and higher DRI support)
            [*]   Enable legacy fbdev support for your modesetting driver
        <*> Intel 8xx/9xx/G3x/G4x/HD Graphics
        [ ]   Enable alpha quality support for new Intel hardware by default
        ()    Force probe driver for selected new Intel hardware
        [*]   Enable capturing GPU state following a hang
        [*]     Compress GPU error state
        [*]   Always enable userptr support
        [ ]   Enable Intel GVT-g graphics virtualization host support
                
##########################################################################################################                
                
# KERNEL
# preallocate buffer for hd audio
# CONFIG_SND_HDA_PREALLOC_SIZE
Device Drivers  --->
    <*> Sound card support  --->
        <*> Advanced Linux Sound Architecture  --->
            HD-Audio  --->
                (2048) Pre-allocated buffer size for HD-audio driver
                
##########################################################################################################                
                
                
# systemd
CONFIG_DEVTMPFS
CONFIG_INOTIFY_USER
CONFIG_PROC_FS
CONFIG_SYSFS
CONFIG_BLK_DEV_BSGLIB
CONFIG_SECCOMP
CONFIG_IPV6
CONFIG_DMIID
CONFIG_TMPFS
CONFIG_TMPFS_POSIX_ACL
CONFIG_TMPFS_XATTR
CONFIG_PARTITION_ADVANCED
CONFIG_EFI_PARTITION
CONFIG_EFI
CONFIG_EFI_VARS

# intel video card
CONFIG_AGP
CONFIG_AGP_INTEL
CONFIG_DRM
CONFIG_DRM_FBDEV_EMULATION
CONFIG_DRM_I915
CONFIG_DRM_I915_CAPTURE_ERROR
CONFIG_DRM_I915_COMPRESS_ERROR
CONFIG_DRM_I915_USERPTR



